{% extends "store/base.html" %}
{% load static %}

{% block content %}
<style>
    body {
        background-color: gray;
    }
</style>

<body>
    <br>
    <div class="container bg-white shadow-md p-5 form-layout">
        <div class="text-center">
            <i class="fas fa-check fa-3x"></i>
            <h4><strong>Your account is now verified!</strong></h4>
            <br>
            <hr>
            <p>Please proceed to login.</p>
        </div>
    </div>
</body>

{% endblock content %}