{% extends "store/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
{% comment %} <style>
    body{
        background-color: gray;
    }
</style> {% endcomment %}
<body>
    <h3>Password Reset</h3>
    <p> Forgotten your password? Enter your Email address below,
        and we'll email instructions for setting a new one.
    </p>

    <form action="" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" name="Send Email">
    </form>
</body>
{% endblock content %}
