{% extends "store/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<style>
    body{
        background-color: gray;
    }
</style>
<body>
    <br>
    <div class="container bg-white shadow-md p-5 form-layout">
        <h3><i class="fas fa-address-book"></i> &nbsp; Profile Management</h3>
        <hr>
    </div>
    <br>

    <div class="container bg-white shadow-md p-5 form-layout">
        <h5>Update your account</h5>
        <hr>
        <br>
        <form autocomplete="off" method="post">
            {% csrf_token %}
            {{ user_form.username | as_crispy_field }}
   
            {{ user_form.email | as_crispy_field }}
            <br>
            <button type="submit" class="btn btn-primary navbar-btn text-white"> &nbsp; Update </button>
            <br><br>
            <a href="{% url 'dashboard' %}" class="btn btn-secondary btn-block"> Cancel</a>
            
        </form>
    </div>
    <br>
    <div class="container bg-white shadow-md p-5 form-layout">
        <h5> Delete your Account</h5>
        <hr>
        <p>Proceed if you want to delete your account.</p>
        <a class="btn btn-primary navbar-btn text-white" type="button"  href="{% url 'delete-account' %}"> Delete your account </a>
    </div>
</body>
{% endblock content %}